.container {
    border: 1px solid blue;
    display: flex;
}
.labels {
    background-color: antiquewhite;
    flex-basis: 30%;
}
.arc-container {
    border: 1px solid red;
    flex-basis: 320px;
    height: 320px;
    position: relative;
    padding: 10px;
}
.desc {
    flex-basis: 30%;
}

.arc {
    border: 1em solid green;
    border-bottom-color: transparent!important;
    border-radius: 50%;
    position: absolute;
    /* top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px; */
    transition: transform  ease 1s, border-color linear .5s;
    box-shadow: 0px -3px 3px 1px rgba(0, 0, 0, 0.2);
    /* z-index: -0; */
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    top: 50%;
}

.arc-radio {
    display: none;
}
.arc-radio:checked + .arc {
    border-color: red!important;
    border-bottom-color: transparent!important;
    overflow: hidden;
}
.arc-selected {
    border-color: red!important;
    border-bottom-color: transparent!important;
    overflow: hidden;
}

.arc-labels ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.arc-trigger {
    padding: 15px;
    display: block;
    cursor: pointer;
}

.arc-trigger:hover {
    background-color: #efefef;
}